:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
  font-family: Ivar Text, Georgia;
}

a {
  color: inherit;
  text-decoration: none;
}

.bookshelf {
  /* --bookshelf-gap-x: 110px; */
  --bookshelf-gap-x: min(15vw, 15vh);
  --bookshelf-h-padding: 24px;
  /* --bookshelf-padding: 110px var(--bookshelf-h-padding) var(--bookshelf-h-padding); */
  --bookshelf-padding: var(--bookshelf-gap-x) var(--bookshelf-h-padding) var(--bookshelf-h-padding);
  padding: var(--bookshelf-padding);
  max-width: 100vw;

  overflow: auto;
  position: relative;

  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('/assets/img/bookshelf.webp');
}

.bookshelf_content {
  display: flex;
  flex-wrap: wrap;
  gap: var(--bookshelf-gap-x) 3px;
}

.bookshelf_shell_wrapper {
  position: absolute;
  inset: 0;
}

.bookshelf_shell_container {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.bookshelf_shell {
  position: absolute;
  inset: -5px;

  padding: var(--bookshelf-padding);

  display: flex;
  flex-direction: column;
  gap: calc(min(60vw, 60vh) + 10px);
}

.bookshelf_shell .top,
.bookshelf_shell .bottom,
.bookshelf_shell .left,
.bookshelf_shell .right {
  position: absolute;
}

.bookshelf_shell .top,
.bookshelf_shell .bottom,
.bookshelf_shell .shelf {
  height: var(--bookshelf-h-padding);
  /* background-image: url('/assets/img/bookshelf.webp'); */
}

.bookshelf_shell .top,
.bookshelf_shell .bottom {
  left: 0;
  right: 0;
}

.bookshelf_shell .left,
.bookshelf_shell .right {
  top: 0;
  height: 100%;
  width: var(--bookshelf-h-padding);
  /* background-image: url('/assets/img/bookshelf.webp'); */
}

.bookshelf_shell .top {
  top: 0;
  background-position: top;
}

.bookshelf_shell .left {
  left: 0;
  background-position: left;
}

.bookshelf_shell .right {
  right: 0;
  background-position: right;
}

.bookshelf_shell .bottom {
  bottom: 0;
  background-position: bottom;
}

.bookshelf_shell .shelf-wrapper {
  width: 100%;
  height: calc(var(--bookshelf-gap-x) - 10px);
  flex-shrink: 0;
}

.bookshelf_shell .shelf {
  height: 16px;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

@media only screen and (min-width: 600px) {

  .bookshelf {
    --bookshelf-h-padding: 50px;
  }

  .bookshelf_shell .shelf {
    height: 30px;
  }
}